# Database Configuration
DB_USERNAME=root
DB_PASSWORD=123456
DB_URL=jdbc:mysql://mysql:3309/ecommerce?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC

# JWT Configuration
JWT_SECRET=3cfa76ef14937c1c0ea519f8fc057a80fcd04a7420f8e8bcd0a7567c272e007b
JWT_EXPIRATION=86400000

# File Upload Configuration
FILE_UPLOAD_DIR=/app/uploads/images

